{% extends 'core/base.html' %}

{% block title %} Home {% endblock title%}

{% block content %} 
    <div style="text-align: center;">
        <h1> Todo List </h1>
        <hr>
        {% if todos %}
            {% for todo in todos %}
            {% if todo.is_completed %}
                <del>
                <h3>{{todo.title}}</h3>
                <h5>{{todo.dis}}</h5>
                </del>
            {% else %}
                <h3>{{todo.title}}</h3>
                <h5>{{todo.dis}}</h5>
            {% endif %}
                <small>{{todo.date_posted}}</small>
                <a href="{% url 'edit' id=todo.id %}">Edit </a>
                <a href="{% url 'delete' id=todo.id %}">Delete </a>
                {% if todo.is_completed %}
                    <a href="{% url 'mark-completed' id=todo.id %}">Mark as Incomplete</a>
                {% else %}
                    <a href="{% url 'mark-completed' id=todo.id %}">Mark as Completed</a>
                {% endif %}
            <hr>
            {% endfor %}
        {% else %}
            <h4>No Items Found</h4>
        {% endif %}
 <a href ="{% url 'add' %}" class = "btn btn-primary" >Add </a>
 <a href ="{% url 'delete-all' %}" class = "btn btn-danger">Delete All</a></div>

{% endblock content %}

